// @import "bootstrap";
// @import "bootstrap/theme";
$headingcolor: #007f15;

h1,h2,h3 {padding:0;margin:0;color:$headingcolor;}

header {display:block;position: relative;padding:2% 5%;padding-bottom:449px;color:#fff;z-index: 20;}
body header #navheader.navbar-default {background-color:rgba(255,255,255,1);border:none;padding:1% 2%;}
nav h1 {color:$headingcolor;padding:0; margin:0; display:inline-block; margin-top:4px;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {float:right; color:$headingcolor;}
header .navbar-default .navbar-nav>li>a {color:#007f15;}

#carousel-wrapper {position: absolute;top:0;left:0;right:0;margin:auto; z-index:10;overflow: hidden;}

.main-btn {
  height:300px;
  background-color:#eee;
  border-left:1px solid #ddd;
  cursor: pointer;
}
.main-btn:hover {background-color: #fafafa;}
.main-btn:first-child {border-left:none;}

.carousel {height:563px;}

main {min-height:550px; background-color:#fff;}
main app-root {padding-top:50px;display:block;clear:both;}

footer {background-color:$headingcolor;height:100px;margin-top:40px;position:relative;bottom:0;width:100%;}

.control-form label {width:90px;display: inline-block;text-align:right;}